<h1> The legal stuff </h1>
<br>
<p> Blah Blah. You are responsible for the use of this app. Blah Blah Blah.
  Do not try to sue us or we will go to a kangaroo arbitration court. Basically
  meaning we are free to do whatever we want with this app and you have no recourse.
  Blah Blah Blah. More legalese. We are not responsible for the accuracy of listings
  users make on this site. Blah Blah Blah. </p>
  <br>
<p> Do not copy our app in whole or in part in any way shape or form. You agree that
  this is strictly for your personal noncommercial use. Blah Blah Blah. </p>
