<h3>Sign in to your account.</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
<br>
<br>
<a href='/'>Or click here to return to our homepage </a>
