<h2>Sign Up for Swap-your-Stuff!</h2>
<br>
<a href= '/user-agreement'> By signing up you agree to our user agreement (click to view) </a>
<br>
<br>
<p> You are required to sign up with a unique username, a valid email address, and a password.
  It is recommended that your password be at least 8 random characters. </p>
<br>
<br>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="text" name="location" placeholder="Zip Code:">
  <input type="submit" value="Sign Up">
</form>
