<h1> Add a new item to your inventory </h1>
<p> Note: you must give your item a name, description, and choose if it is tradeable. </p>
<br>
<form action= '/items' method = "post">
  <label>Name: </label>
  <input type="text" name="name" />
  <br>
  <label>Description: </label>
  <input type="text" name="description" />
  <br>
  <label>Tradeable? click here to make it tradeable </label>
  <input type="checkbox" name="tradeable?" value = "true"/>
  <br>
  <p> Note: checking the box makes your item publicly viewable and tradeable. </p>
  <br>
  <label>Tradeable? click here to make it private and NOT tradeable </label>
  <input type="checkbox" name="tradeable?" value = "false"/>
  <br>
  <label>Condition: </label>
  <input type="text" name="condition" />
  <br>
  <label>(Enter just a number for dollars e.g. 25.00) Asking Price: $ </label>
  <input type="text" name="asking_price" />
  <br>
  <label>Keywords: </label>
  <input type="text" name="keywords" />
  <br>
  <input value="Save new item" type="submit"/>
</form>
