<h1> Welcome to the homepage of Swap-your-Stuff! </h1>
<br>
<a href ='/signup'> Click here to create an account and start organizing/swapping your stuff! </a>
<br>
<br>
<a href ='/login'> Already have an account? Click Here! </a>
